---
import Layout from '../layouts/Layout.astro';
const allPosts = await Astro.glob('./posts/*.md');
---

<Layout title='Blog'>
  <h1 class="text-red-500 text-3xl text-center pt-2">Blog Listing Page</h1>
  <ul>
    {allPosts.map((post) => (
      <li>
        <a class="text-white" href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))}
  </ul>
</Layout>