---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Blog'>
  <h1 class="text-red-500 text-3xl text-center pt-2">Blog Listing Page</h1>
  <ul>
    <li>
      <a class="text-white" href="/posts/post-1">Blog Post 1</a>
    </li>
    <li>
      <a class="text-white" href="/posts/post-2">Blog Post 2</a>
    </li>
    <li>
      <a class="text-white" href="/posts/post-3">Blog Post 3</a>
    </li>
  </ul>
</Layout>