---
---

<ul class="flex gap-2 items-center justify-center">
  <li>
    <a class="text-black" href="/">Home</a>
  </li>
  <li>
    <a class="text-black" href="/about">About</a>
  </li>
  <li>
    <a class="text-black" href="/blog">Blog</a>
  </li>
</ul>